<div>
	<div class="dlaguaScrollableServicedPaneHeader" data-dojo-attach-point="fixedHeader">
		<span data-dojo-attach-point="headerLabelNode" class="dlaguaScrollableServicedPaneHeaderLabel">${headerLabel}</span>
	</div>
	<div data-dojo-attach-point="containerNode" style="position:absolute;width:100%;"></div>
	<div class="dlaguaScrollableServicedPaneFooter" data-dojo-attach-point="fixedFooter">
		<span data-dojo-attach-point="footerLabelNode" class="dlaguaScrollableServicedPaneFooterLabel">${footerLabel}</span>
	</div>
</div>