<div tabindex="-1">
	<div class="dlaguaScrollableServicedPaneHeader" data-dojo-attach-point="fixedHeader">
		<span data-dojo-attach-point="headerLabelNode" class="dlaguaScrollableServicedPaneHeaderLabel">${headerLabel}</span>
	</div>
	<div class="dlaguaScrollableContainer" data-dojo-attach-point="containerNode"></div>
	<div class="dlaguaScrollableServicedPaneFooter" data-dojo-attach-point="fixedFooter">
		<span data-dojo-attach-point="footerLabelNode" class="dlaguaScrollableServicedPaneFooterLabel">${footerLabel}</span>
	</div>
</div>